body {
  font-family: 'News Cycle', sans-serif;
  background-color: #121D33;
  padding-top: 3%;
}

h1, h2, h3, h4, h5 {
  font-family: 'Londrina Shadow', cursive;
  color: #D2FDFF;
}

nav {
  position: fixed;
  border-bottom: 2px solid #D2FDFF;
  height: 67px;
  width: 100%;
}

nav ul {
  float: right;
}

nav li {
  float: left;
  width: auto;
}

nav li a {
  padding: 0 40px;
  display: block;
  text-decoration: none;
  height: 40px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

nav li a:hover {
  background: #D2FDFF;
  color: #121D33;
}

.home {
    color: #D2FDFF;
}

#about {
  text-align: center;
  font-size: 4.3em;
  width: 100%;
  margin: 0 auto;
}

section {
  max-width: 100%;
  padding-bottom: 5%;
}

.container {
  background: white;
  padding: 5%;
  height: 375px;
  width: 75%;
  margin: 0 auto;
}

.ncma-pic {
  width: 33%;
  border-radius: 50%;
  /*shape-image-threshold defines min opacity level of pixels used to create shape, value can be btw 0.0 and 1.0*/
  shape-image-threshold: 0.5;
  /*float left is key. the shape-outside defines shape area around which content will wrap, w/o float you won't see effects of shape*/
  float: left;
  /*shape-margin: 15px;*/
  shape-outside: circle(50%);
  padding: 2%;

}

.about-design {
  width: 866px;
  height: 399px;
  line-height: 1.4em;
  font-size: 19px;
}

.about-dev {
  width: 866px;
  height: 399px;
  line-height: 1.4em;
  font-size: 19px;
}

@media only screen and (max-width: 1101px) {
  #about {
    font-size: 2.3em;
  }
  .about-design {
    font-size: 20px;
    line-height: 1.4em;
  }
}

@media only screen and (max-width: 1081px) {
  .about-design {
    font-size: 19px;
}
  .container {
    height: 277px;
  }
}

@media only screen and (max-width: 1080px) {
  .about-design {
    font-size: 16px;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .about-design {
    font-size: 14px;
    height: 350px;
  }
  nav {
    height: 36px;
  }
}

@media only screen and (max-width: 470px) {
  .container {
    height: 300px;
  }
  .about-design {
     font-size: 14px;
   }
   nav {
     height: 37px;
   }
}

@media only screen and (max-width: 469px) {
  .about-design {
    height: 389px;
  }
}

@media only screen and (max-width: 450px) {
  .about-design {
    height: 377px;
  }
}

@media only screen and (max-width: 400px) {
  nav {
    height: 36px;
  }
  .about-design {
    font-size: 13px;
  }
}
